body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    display: inline-block;
    
}

.librosa {
    border-radius: 10%;
    margin: 40px;
    width: 300px;
    border: 2px solid #000000;
    padding: 10px;
    text-align: center;
}

.librosa img {
    max-width: 100%;
    height: auto;
}

.info h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Times New Roman';
}

.info p {
    margin: 0;
    font-family: 'Times New Roman';
    font-size: 20px;
}
img{
    border-radius: 8%;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 0px #000;
}
div{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    gap: 10px;
}
.btn{
    border-radius: 50%;
    color: #ffffff;
    background-color: #000;
    border: none;
}