
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4" routerLink="/Borrar">Borrar</h5>
    <h5 class="text-white h4" routerLink="/PedirId">Modificar</h5>
    <h5 class="text-white h4" routerLink="/Agregar">Agregar</h5>
    <h5 class="text-white h4" routerLink="/Libro">Catalogo</h5>
    
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<router-outlet ></router-outlet>

